<div class="ma5-l mt5-ns mt3 ma3-m ma2" id="about">
  <div class="mw9 cf center " data-right-height>
    <div class="fl w-50-ns w-100 cover bg-center h5" style="background-image: url({{ site.baseurl }}/images/about.jpg)" data-right-height-content>
    </div>
    <div class="w-50-ns fl bg-dark-green white pa5-l pa4" data-right-height-content>
      <h3 class="mt0 f3-ns f4">About us</h3>
      <p class="lh-copy f5-ns f6">
        Tableland Garden & Mowing is an independent, local, family-owned business. We believe in reliable, affordable lawn mowing and gardening delivered with old-fashioned customer service.
      </p>
      <p class="lh-copy f5-ns f6">
        We’re Atherton Tableland locals (Yungaburra, to be precise), and we love the relaxed lifestyle the area provides. So relax and enjoy the sunshine — we’ll take care of the garden.
      </p>
    </div>
  </div>
</div>
