<div class="mh5-l mv6-l mt5-m mt3 ma3-m ma2" id="areas">
  <div class="mw8 cf center " data-right-height>
    <h3 class="tc ttu tracked">Areas we service</h3>

    <h2 class="tc lh-copy f2-ns f4">
      Atherton <span class="yellow">•</span> Tolga <span class="yellow">•</span> Walkamin <span class="yellow">•</span> Kairi <span class="yellow">•</span> Tinaroo <span class="yellow">•</span> Yungaburra <span class="yellow">•</span> Lake Eacham <span class="yellow">•</span> Peeramon <span class="yellow">•</span> Malanda <span class="yellow">•</span> Tarzali <span class="yellow">•</span> Millaa <span class="yellow">•</span> Herberton <span class="yellow">•</span> Ravenshoe <span class="yellow">•</span> Cairns <span class="yellow">•</span> Gordonvale <span class="yellow">•</span> Edmonton
    </h2>

    <p class="tc lh-copy mw6 center f6 f5-ns">We provide all gardening and lawn mowing services across the Atherton Tablelands and Cairns.</p>
  </div>
</div>
