<div style="background-image: url({{ site.baseurl }}/images/banner.jpg)" class="pa5-l pa4-m pa3 cover bg-center">
  <div class="mw9 cf ma4-ns ma2">
    <div class="fr w-50-l bg-dark-green pa5-ns pa4">
      <h1 class="f3-ns f4 lh-title fw7 white ma0">For dependable gardening and lawn mowing services across the Atherton tablelands, from Mareeba to Malanda.</h1>
      <p class="fw7 f4-ns mt4 mb0 green">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <a href="#contact" class="ml2 link dim yellow">Get in touch for a free quote</a>
      </p>
    </div>
  </div>
</div>
