<div class="= mt5-ns mt3 cf bg-dark-green" id="contact">

    <div class="fl w-50-l pa5-l pa4 white w-100 tc mb3">
      <h3 class="mt0 f3-ns f4">Contact Mark Brophy for a free quote</h3>
      <div class="cf w-100 pb3">
        <div class="w-50 ph3 fl ">
          <p class="f6 f5-ns">Phone</p>
          <a href="tel:0409351279" class="fw7 dim yellow link f3-ns f4">0409 351 279</a>
        </div>
        <div class="w-50 ph3 fl ">
          <p class="f6 f5-ns">Phone (alternate)</p>
          <a href="tel:0417351278" class="fw7 dim yellow link f3-ns f4">0417 351 278</a>
        </div>
      </div>
      <p class="f6 f5-ns">Email</p>
      <a href="mailto:tgmconnect@gmail.com" class="fw7 dim yellow link f3-ns f4">TGMConnect@gmail.com</a>
    </div>
    <div class="w-50-l fl bg-yellow dark-green pa5-l pa4 w-100" >
      <h3 class="mt0 f3-ns f4 tc">Or send us a message</h3>
      <form action="https://formspree.io/hello@jackhallahan.com"
      method="POST" class="w-100">
        <div class="cf w-100">
          <div class="w-50-ns w-100 fl pr2-ns">
            <label for="name" class="db mb2">Name*</label>
            <input type="text" name="name" required class="bn br2 pa2 dark-green db w-100 mb3">
          </div>
          <div class="w-50-ns w-100  fl pl2-ns">
            <label for="location" class="db mb2">Location*</label>
            <input type="text" name="location" required class="bn br2 pa2 dark-green db w-100 mb3">
          </div>
          <div class="w-50-ns w-100  fl pr2-ns">
            <label for="phone" class="db mb2">Phone*</label>
            <input type="tel" name="phone" required class="bn br2 pa2 dark-green db w-100 mb3">
          </div>
          <div class="w-50-ns w-100  fl pl2-ns">
            <label for="_replyto" class="db mb2">Email</label>
            <input type="email" name="_replyto" class="bn br2 pa2 dark-green db w-100 mb3">
          </div>
        </div>
        <label for="message" class="db mb2">Message</label>
        <textarea name="message" rows=3 class="bn br2 pa2 dark-green db w-100 mb3"></textarea>
        <input type="submit" value="Send" class="bg-green pv3 ph4 br2 bn fw7 white pointer bg-animate hover-bg-dark-green mt3">
      </form>
    </div>

</div>
