<footer class="w-100 pa5 bg-near-black cf">

  <div class="w-third-l w-100 fl">


    <h3 class="f5 silver fw4">Copyright Tableland Garden and Mowing</h3>


  </div>

  <div class="w-third-l w-100 fl">


    <h3 class="f5  fw4 tc-l"><a href="tel:0492507315" class="yellow link dim">0492 507 315</a> • <a href="mailto:tgmconnect@gmail.com" class="yellow link dim">TGMconnect@gmail.com</a></h3>


  </div>

  <div class="w-third-l w-100 fl">


    <h3 class="f5 silver fw4 tr-l"><a href="http://jackhallahan.com/" target="_blank" class="link silver dim">Web design by Jack Hallahan</a></h3>


  </div>

</footer>

<script src="https://use.fontawesome.com/9800165f39.js"></script>
<script src="{{ site.baseurl }}/scripts/right-height.min.js"></script>
<script>
	rightHeight.init();
</script>

<script src="{{ site.baseurl }}/scripts/zenscroll-min.js"></script>
