
<a a href="tel:0492507315" class="db bg-light-green dn-ns pv2 ph3 tc green link">
  <p class="ma0">Call now for a free quote <span class="fw7">0492 507 315</span></p>
</a>

<header class="pv3 ph4-ns ph2 cf">


  <div class="fl w-30-l  w-100">

    <div class="mw6 w-100">
      <a class="" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg"></a>
    </div>
  </div>

  <nav class="fl w-70-l  w-100 pt2">
    <div class="fr-l center">
      <ul class="list dib pl0">
        <li class="dib mr3-ns mr2"><a class="link dim f4-ns f6 dark-green" href="#services">Services</a></li>
        <li class="dib mr3-ns mr2"><a class="link dim f4-ns f6 dark-green" href="#about">About us</a></li>
        <li class="dib mr3-ns mr2"><a class="link dim f4-ns f6 dark-green" href="#areas">Areas we service</a></li>
        <li class="dib mr3-ns"><a class="link dim f4-ns f6 dark-green" href="#contact">Contact us</a></li>
      </ul>
      <div class="bg-light-green br3 dn dib-ns f4-ns pv2 ph3">
        <a href="tel:0492507315" class="fw7 dim green link"><i class="fa fa-phone" aria-hidden="true"></i> 0492 507 315</a>
      </div>
    </div>


  </nav>

  </div>

</header>
