<div class="mh5-l mb6-l mt5 ma3-m ma2" id="services">
            <h1 class="f3-ns f4 lh-title ph1 fw4 mb5 mt0 measure-wide tc center">For dependable gardening and lawn mowing services across the Atherton Tablelands, from Mareeba to Malanda.</h1>
  <h3 class="ttu tc tracked f2-ns f3 mb5-l">Services</h3>
  <div class="mw9 cf center">

    <div class="w-third-l ph3-ns ph1  fl">
      <div class="white bg-green br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Lawn Mowing</h2>
        <p class="ma0 lh-copy f5-ns f6">
          Professional lawn cut provides the best possible finish for your lawn including professional edging of entire lawn area including around trees and other garden features. We can assist with your lawn care through weed control, top dressing, fertilising, aeration, coring, and turf laying and repair. Ride on mowing is available for all properties.
        </p>
      </div>
      <div class="bg-light-gray br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Weed Control</h2>
        <p class="ma0 lh-copy f5-ns f6">
          Rid your garden of noxious weeds for a flawless finish. We'll handle the hard work and take away the rubbish.
        </p>
      </div>
    </div>
    <div class="w-third-l ph3-ns ph1 fl">
      <div class="bg-light-gray br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Garden Care</h2>
        <p class="ma0 lh-copy f5-ns f6">
          A well maintained garden provides a great look and feel to any home and increases the appeal of your property. We can tailor a garden maintenance program to suit your garden’s needs or simply provide a once off visit.
        </p>
      </div>
      <div class="bg-yellow br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Hedging & Pruning</h2>
        <p class="ma0 lh-copy f5-ns f6">
          Careful and regular hedging, pruning and trimming of your garden is essential to its maintenance and includes roses, plants, shrubs, fruit trees and small trees. This service also includes the removal of small shrubs and trees. All services and prices quoted include the removal of all cuttings.
        </p>
      </div>
    </div>
    <div class="w-third-l ph3-ns ph1 fl">
      <div class="bg-dark-green white br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Gutter Cleaning</h2>
        <p class="ma0 lh-copy f5-ns f6">
          Gutters need to be cleared regularly to avoid water build up and overflow that caused damage to your roof and house
        </p>
      </div>
      <div class="bg-light-gray br3 pa4 mb3">
        <h2 class="mt0 f4-ns f5">Rubbish Removal</h2>
        <p class="ma0 lh-copy f5-ns f6">
          We do all the work and then undertake a thorough clean up at the completion of the work to ensure that you regain the use of your garden and yard. We will take care of both hard and green waste and this service is an extremely cost effective solution for your clean up needs.
        </p>
      </div>
    </div>
  </div>
</div>
