.dark-green{
  color: #28474D;
}

.bg-dark-green{
  background: #28474D;
}

.green{
  color: #52AC47;
}

.bg-green{
  background: #52AC47;
}

.bg-light-green{
  background: #EDF6EC;
}


.yellow{
  color: #FEC759;
}

.bg-yellow{
  background: #FEC759;
}
